.button {
  width: 207px;
  background: none;
  border: 0.75px solid $color-black;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  color: $color-black;
  letter-spacing: 0;
  padding: 13px 50px;
}