.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 142px 20px 0;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 18px;
  }
  &__img {
    width: 30px;
    height: 30px;
  }
}